<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mydictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.DictionaryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.views.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.views.word.WordInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.views.mywords.WordsActivity"
            android:label="@string/my_words"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.views.learn.LearnActivity"
            android:label="@string/fav_words_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.views.account.AccountActivity"
            android:label="@string/my_account"
            android:screenOrientation="portrait" />
    </application>

</manifest>